html,
body {
    margin: 0;
    padding: 0;
}

.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}

.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.flex {
    display: flex;
}
.border-box {
    box-sizing: border-box;
}

#app {
    min-width: 720px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100vh;
    background: rgb(247 247 247);

    .text-link {
        cursor: pointer;
        &:hover {
            color: #409EFF;
        }
    }
    .text-right {
        text-align: right;
    }
    .w-120 {
        width: 120px;
    }
    .inline-block {
        display: inline-block;
    }
    .pre-wrap {
        white-space: pre-wrap;
    }
}