/* media query */
@media screen and (max-width: 750px) {
    .page-container {
    }
    #mobile-links {
        display: inline-block;
    }

    #pc-links {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .page-container {
        padding-left: 12vw !important;
        padding-right: 12vw !important;
    }
}